.quiz-details-container{
    text-align: center;
    margin-top: 2rem;
}
.quiz-card{
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 400px;
    border: solid black 1px;
    padding: 1rem;
}
